/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

main {
  text-align: center;
}

main .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #10c9c3;
}

main img {
  max-width: 25%;
  height: auto;
}

main img:hover {
  opacity: 0.5;
}

main h1 {
  margin: 200px 0 40px;
  font-size: 38px;
  font-weight: 500;
}

main p {
  text-align: center;
  margin: 0 auto 100px;
  color: #787878;
  max-width: 520px;
}

@media screen and (max-width: 700px) {
  .gallery img {
    max-width: 50%;
  }

  main p {
    margin-left: 10%;
    margin-right: 10%;
  }
}
