/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* //////////////////////////////////////////////////////////// NAVIGATION */

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.topnav a {
  text-transform: uppercase;
  padding: 12px 30px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.topnav a:hover {
  color: #10c9c3;
}

.topnav .icon {
  display: none;
}

/* ///////////////////////////////////////////////////////////// BUTTON */

button {
  width: 180px;
  height: 55px;
  background-color: #10c9c3;
  border: none;
  color: #ffffff;
}

button,
button:active,
button:focus {
  outline: none;
}

button:hover {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

/* ///////////////////////////////////////////////////////////// FOOTER */

footer {
  background-color: #141414;
  color: #ffffff;
  font-size: 13px;
}

footer .container {
  padding: 100px 9.5% 100px 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

footer p {
  font-size: 15px;
  font-weight: 100;
}

footer li {
  margin-bottom: 10px;
}

footer .menu, .contacts {
  margin-left: 50px;
  margin-top: 30px;
}

footer a {
  color: #ffffff;
  cursor: pointer;
}




/* ////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1010px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    margin-top: -17px;
    display: block;
    color: #000;
    font-size: 25px;
  }

  .topnav.responsive {
    position: relative;
    top: 50px;
  }
  header .topnav.responsive {
    height: 340px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    top: -50px;
  }
  .topnav.responsive a {
    right: 0;
    display: block;
    text-align: end;
  }
}